@import 'https://fonts.googleapis.com/css?family=Work+Sans:300';
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    color:inherit;
    text-decoration: inherit;
}

header{
    background-color: rgb(59, 62, 67);
    color: rgb(255, 255, 255);
    height: 50px;
    padding-right:10px;
}

header h1{
    float:right;
    margin:0;
}

#userBar{
    padding: 10px;
    height: 30px;
    border-bottom-color: black;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    font-size: 20px;
}

#userBar p{
    margin:0;
    display: inline-block;
}

#userBar form{
    margin: 0;
    height: 30px;
    display: inline-block;
}

#userBar input{
    border-style:none;
    height:30px;
}

#addUser input[type="submit"]{
    border-style:none;
    height:21px;
}

#content{
    padding:10px;
}

#navBar{
    color: rgb(255, 255, 255);
    padding-right: 10px;
    font-size: xx-large;
    height:50px;
    width:40px;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: rgb(59, 62, 67);
    overflow: hidden;
    transition: 1s;
    text-align: right;
}

.sublist {
    height: 0;
    overflow: hidden;
    font-size: large;
    transition: 1s;
}

#profitGraph {
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.filterInput{
    width:100%;
}

#search input[type="submit"]{
    border-style:none;
    height:21px;
}

#search form{
    width:21px;
    margin:0;
}

#addUser{
    padding: 10px;
    background-color: rgb(59,62,67);
    width:200px;
    margin-left: auto;
    margin-right: auto;
}

#addUser input{
    width:100%;
}

select, input{
    font-family: 'Work Sans', sans-serif;
}