@import 'https://fonts.googleapis.com/css?family=Work+Sans:300';
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgb(59, 62, 67);
    color: rgb(255, 255, 255);
    height: 50px;
    padding-right:10px;
    text-align: right;
}

#loginBar{
    height: 50px;
    border-bottom-color: black;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;

}

#login{

    margin: 0;
    padding: 10px;
}

#loginBar input{
    font-family: 'Work Sans', sans-serif;
    border-style:none;
    height:30px;

}

#sketch{
    margin-left:500px;
    background-color: aqua;
    width:100px;
    height:100px;
}