@import 'https://fonts.googleapis.com/css?family=Work+Sans:300';
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header{
    background-color: rgb(59, 62, 67);
    color: rgb(255, 255, 255);
    height: 50px;
    padding-right:10px;
    text-align: right;
}

#userBar{
    padding: 10px;
    height: 30px;
    border-bottom-color: black;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    font-size: 20px;
}

#userBar p{
    margin:0;
    display: inline-block;
}

#login{
    margin: 0;
    height: 30px;
}

#userBar input{
    font-family: 'Work Sans', sans-serif;
    border-style:none;
    height:30px;
}

#content{
    padding:10px;
}